<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160058076683-p2id6acrnh7i0r2cac5b2fi291mqpt9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160058076683-p2id6acrnh7i0r2cac5b2fi291mqpt9f</string>
	<key>API_KEY</key>
	<string>AIzaSyBe0yoSvfgESiQ5ELhPLjhjrP-4iihxn-E</string>
	<key>GCM_SENDER_ID</key>
	<string>160058076683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.regalsystem.timescheduler</string>
	<key>PROJECT_ID</key>
	<string>time-schedular</string>
	<key>STORAGE_BUCKET</key>
	<string>time-schedular.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160058076683:ios:dca2d62b6a26b18de8210e</string>
</dict>
</plist>